@model CapstoneISki.Data.Rental

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentalReturnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentalReturnDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayesRented)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayesRented)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
