@model CapstoneISki.Data.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemAltSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemAltSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
